<!DOCTYPE html>
<html lang="en">

<%- include ../../commun/menu/head.ejs %>

<body>

<div id="wrapper">
    <%- include menu.ejs %>
    <%- include main-content.ejs %>
</div>
<!-- /#wrapper -->

</body>
</html>
