<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <b>Store Back End</b>
        </li>
        <li>
            <a href="/"><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;Front End</a>
        </li>

        <li class="dropdown dropdown-submenu"><a href="/install" ><i
                        class="fa fa-cog" aria-hidden="true"></i>
                &nbsp;&nbsp;Database Installation
            </a>
        </li>



        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-product-hunt" aria-hidden="true"></i>
                &nbsp;&nbsp;Product<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/product/create">New</a></li>
                <li><a href="/admin/product/list">Full List</a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus-square" aria-hidden="true"></i>

                &nbsp;&nbsp;Category<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/category/create">New</a></li>
                <li><a href="/admin/category/list">Full List</a></li>
            </ul>
        </li>


        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>


                &nbsp;&nbsp;Module
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">

                <li><a href="/admin/module/list/">List / Configure </a></li>

                <li><a href="/admin/module/create">Install</a></li>

                <!--li><a href="/admin/module/manage/">Manage</a></li-->

            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-shopping-cart" aria-hidden="true"></i>
                &nbsp;&nbsp;Orders<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/order/manage">Order</a></li>
                <li><a href="#">Abandoned checkout</a></li>


            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-users" aria-hidden="true"></i>
                &nbsp;&nbsp;Customers<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/customer/list">List</a></li>

            </ul>
        </li>

        <!--li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-line-chart" aria-hidden="true"></i>
                &nbsp;&nbsp;Analysis<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/analysis/traffic">Traffic</a></li>
                <li><a href="/admin/analysis/search">Search</a></li>

            </ul>
        </li-->

        <!--li>
            <a href="/admin/module"><i class="fa fa-tasks" aria-hidden="true"></i>
                &nbsp;Module</a>
        </li-->


        <!--li>
            <a href="/admin/preference"><i class="fa fa-sliders" aria-hidden="true"></i>
                </i> &nbsp;Preferences</a>
        </li-->

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-area-chart" aria-hidden="true"></i>
                &nbsp;&nbsp;Statistics<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/stat/dashboard">&nbsp;Dashboard</a></li>
                <li><a href="/admin/stat/report">&nbsp;Report</a></li>

                <!--li><a href="/admin/user/list">&nbsp;Users</a></li-->
            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-user" aria-hidden="true"></i>
                &nbsp;&nbsp;Admin<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/administrator/edit/">&nbsp;Profile</a></li>
                <!--li><a href="/admin/user/list">&nbsp;Users</a></li-->
            </ul>
        </li>

        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-cog" aria-hidden="true"></i>
                &nbsp;&nbsp;Setting<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">&nbsp;General</a></li>
                <li><a href="#">&nbsp;Payment</a></li>

                <!--li><a href="/admin/user/list">&nbsp;Users</a></li-->
            </ul>
        </li>


        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-cog" aria-hidden="true"></i>
                &nbsp;&nbsp;Notification<i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/notification/configuration/">&nbsp;Configuration</a></li>

                <!--li><a href="/admin/user/list">&nbsp;Users</a></li-->
            </ul>
        </li>

        <li>
            <a href="/admin/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->