.img-rounded-ymple {

    max-height: 250px;
    max-width: 250px;
}


.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-height: 60px;
}